<h1>Verb Form Helper</h1>
<p>Enter a subject and a verb to find out the correct verb forms.</p>
<form [formGroup]="form">
<div class="subject-box">
   <label for="subject">Enter subject:</label>
   <input 
      type="text" 
      placeholder="put subject here" 
      value="the dog" 
      #subjectTxt
      formControlName="subject"
      id="subject"
   >
</div>
<div class="verb-box">
   <label for="verb">Enter verb:</label>
   <input 
      type="text" 
      placeholder="put verb here" 
      value="go" 
      #verbTxt
      formControlName="verb"
      id="verb"
   >
</div>


<div class="radio-box">
   <div>
      <input  
         type="radio" 
         name="number"  
         value="singular" 
         (change)="radioChange($event)" 
         formControlName="number">
      <label class="custom-control-label" for="singular">Third person singular</label>
   </div>
   <div>
      <input  
         type="radio"   
         name="number" 
         value="plural" 
      
         (change)="radioChange($event)"
         formControlName="number">
      <label class="custom-control-label" for="plural">Other</label>
   </div>
 </div>
 <button (click)="change(subjectTxt.value, verbTxt)">Get Verbs</button>
</form>

<div *ngIf="isInDictionary; else notInDictionary">
<div *ngIf="isVerb; else notaVerb">



<div *ngIf="isBe; else elseBlock">
   <app-show-be 
      [subject]="subject"
      [be]="be"
      [isSingular]="isSingular"
   ></app-show-be>

</div>

<ng-template #elseBlock>
   <h2>Simple Present</h2>
   {{ subject | capitalizeFirst }} 
   {{ (isSingular)?verb.thirdpers:verb.baseform}}
   <br>
   {{ subject | capitalizeFirst }} 
   {{ (isSingular)?"doesn't":"don't"}} 
   {{ verb.baseform }}
   <br>
   {{ (isSingular)?"Does":"Do"}} 
   {{ subject }} 
   {{ verb.baseform }}?
   <br>

   <h2>Present Progressive/Continuous</h2>
   {{ subject | capitalizeFirst }}{{ be.affC }} {{ verb.ingform}} <br>
   {{ subject | capitalizeFirst }}{{ be.negC1 }} {{ verb.ingform}} <br>
   {{ be.affNc | capitalizeFirst }} {{ subject }} {{ verb.ingform}} ?<br>
  

   <h2>Simple Past</h2>
   {{ subject | capitalizeFirst }} 
   {{ verb.simplepast }} 
   <br>
   {{ subject | capitalizeFirst }} 
   didn't {{ verb.baseform }}
   <br>
   Did {{ subject }} 
   {{ verb.baseform }}?
   <br>

   <h2>Present Perfect</h2>
   {{ subject | capitalizeFirst }} 
   {{ (isSingular)?"has":"have" }} 
   {{ verb.pastpart }}
   <br>
   {{ subject | capitalizeFirst }} 
   {{ (isSingular)?"hasn't":"haven't" }} 
   {{ verb.pastpart }}
   <br>
   {{ (isSingular)?"Has":"Have" }} 
   {{ subject }} 
   {{ verb.pastpart }}?
</ng-template>

</div>
</div>
<ng-template  #notaVerb>
   <h2><span class="not-a-verb">"{{ boxString }}"</span> is not a verb. Try again.</h2>
</ng-template>

<ng-template  #notInDictionary>
   <h2><span class="not-a-verb">"{{ boxString }}"</span> is not in my verb dictionary. Try again.</h2>
</ng-template>