<h2>Simple Present</h2>

{{ subject | capitalizeFirst }} {{ be.affNc }} ______<br>
{{ subject | capitalizeFirst}} {{ be.negNc }} ______<br>
{{ be.affNc | capitalizeFirst}} {{ subject }} _______ ?<br>

<h2>Simple Past</h2>

{{ subject | capitalizeFirst}} {{ be.affPNc }} ______<br>
{{ subject | capitalizeFirst}} {{ be.negPNc }} ______<br>
{{ be.affNc | capitalizeFirst}} {{ subject }} _______ ?<br>

<h2>Present Perfect</h2>

{{ subject | capitalizeFirst}} {{ isSingular?'has':'have' }} been ______ <br>
{{ subject | capitalizeFirst}} {{ isSingular?'has':'have' }} not been ______ <br>
{{ isSingular?'Has':'Have' | capitalizeFirst}} {{ subject }} been ______ ? <br>